.form-control {
    margin: 1rem 0;
  }

  .form-control label,
  .form-control input {
    display: block;
    width: 100%;
  }
  .form-control input {
    font: inherit;
    border: 1px solid #e6c10a;
    border-radius: 2px;
  }

  button {
    font: inherit;
    background-color: white;
    color: #6700c7;
    cursor: pointer;
    border: 1px solid #6700c7;
    border-radius: 3px;
  }
  button:hover,
  button:active {
    color: white;
    background-color: #6700c7;
  }

  .product-form{
    width: 20rem;
    max-width: 90% ;
    margin: auto;
  }